{{ define "header" }}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Form and Enctype</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="width: 800px; margin: 0 auto;">
  <div style="padding: 20px 0;">
    <a href="/">Index</a>
    <span style="margin-right: 10px"></span>
    <a href="/url?q=query-string">Url Data</a>
    <span style="margin-right: 10px"></span>
    <a href="/form">Form Get & Post</a>
    <span style="margin-right: 10px"></span>
    <a href="/file-upload">File Upload & Store</a>
    <span style="margin-right: 10px"></span>
    <a href="/enctype">Enctype</a>
  </div>
{{ end }}
  